// =============================================================================
// ACCORDIONS
// =============================================================================

.accordion-heading {
  position: relative;
  clear: both;
  margin: 0;
  padding: 0;
  border-top: 1px solid @base_border_color;

  h3& {
    font-size: 2.4rem;
  }

  h4& {
    font-size: 2.1rem;
  }

  a {
    display: block;

    &:before {
      .theme-font;

      content: @theme-plus;
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      margin-top: -12px;
      padding: 2px;
      border-radius: 100%;
      font-size: 24px;
      transition: all 0.3s ease-out;
      border: 2px solid;
    }
  }

  &:first-child {
    margin-top: 10px;
  }

  .link-text {
    display: block;
    margin-right: 40px;
    padding: 15px 0;
  }

  &.active a:before {
    content: @theme-minus;
  }
}

.accordion-content {
  margin-bottom: -1em;
  padding-bottom: 1em;

  & > *:first-child {
    margin-top: 0;
  }
}
