// =============================================================================
// ACCORDIONS
// =============================================================================

.accordion-heading {
  clear: both;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid @C9;
  font-size: 1em;
  line-height: 24px;

  a {
    cursor: pointer;
    text-decoration: none;
  }

  &:first-child {
    margin-top: 10px;
  }

  .icon:before {
    display: block;
    .chevron-font();
    margin-top: -5px;
    margin-left: -8px;
    font-size: 32px;
    content: @chevron-right-medium;
    .transition(all 0.3s ease-out);
  }

  .link-text {
    display: block;
    margin-left: 24px;
  }

  &.active .icon:before {
    .transform(rotate(90deg));
  }
}

.accordion-content {
  margin-left: 24px;
}
