// =============================================================================
// ACCORDIONS
// =============================================================================

.accordion-heading {
  position: relative;
  clear: both;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid @base_border_color;
  font-size: 1em;
  line-height: 24px;

  a {
    cursor: pointer;
    text-decoration: none;
  }

  &:first-child {
    margin-top: 10px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: -5px;
    display: block;
    .dd-templates-font();
    font-size: 32px;
    content: @chevron-right-medium;
    .transition(all 0.3s ease-out);
  }

  .link-text {
    display: block;
    margin-left: 24px;
  }

  &.active:before {
    .transform(rotate(90deg));
  }
}

.accordion-content {
  margin-left: 24px;
}
