// =============================================================================
// COMMON ELEMENTS
// =============================================================================

// This class is used to hide items offscreen eg. Skip to main content link for
// website accessibility.

.offscreen {
  position: absolute;
  top: -9999px;
  left: 0;
}

.channel, .subterm, .node {
  float: none;
  width: auto;
}

.channel, .subterm, .block, .node, .messages {
  font-family: @F1;
}

// FONT AND LINE HEIGHT SIZING

.page, .above-page, .below-page {
  font-size:  14px;
  line-height: 1.5;
}

.node-content {
  font-size: unit(@base_font_size, px);
}

.overview .node-header, .node-full .node-header {
  &:extend(h1);

  &, & a, & a:hover {
    color: @C6;
  }
}

.node-teaser {
  padding-bottom: 0;
  clear: both; // mainly to clear floated images
}

.node-header {
  line-height: 1.2;

  a {
    color: @C2;
  }

  a:hover {
    color: @C1;
  }
}

.subtitle {
  font-size: 0.667em;
  color: @C4;
}

body.n .page-right {
  .block-title,
  .sidebar-title {
    padding-top: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #ccc;
    font-size: 16px;

    &:before {
      float: left;
      .chevron-font;
      content: @chevron-down-normal;
      font-size: 24px;
      margin-top: -2px;
      margin-left: -6px;
    }
  }
}

.node-image {
  margin-top: 0;
}

.field-image {
  margin-bottom: 1em;

  a {
    text-decoration: none;
  }

  img,
  .node-teaser & img {
    margin: 0;
  }
}

.node-image .field-image, .node-image .gallery {
  margin-top: 1em;
}

.node-image .gallery .field-image {
  margin-top: 0;
}

// captions

.caption {
  font-size: 12px;
  line-height: 1.333;
}

.field-image.has-caption {
  a {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .caption {
    display: table-caption;
    caption-side: bottom;
  }
}

.node-meta {
  display: none;
  // Show on full post view since we're moving the meta down below the header
  .node-full & {
    display: block;
  }
}

.meta .event-date {
  display: inherit;
}

.node-content {
  ul, ol {
    clear: both;
    margin: 1em 0;
    padding-left: 3em;
    overflow: visible;
  }

  li {
    margin-bottom: 0;
  }
}

// =============================================================================
// Improve the external link theme
// =============================================================================

span.ext {
  background: none;
  padding-right: 0;
  padding-left: 0.1em;

  &:after {
    .attachments-font();
    content: @attachments-external;
    line-height: inherit;
    vertical-align: middle;
    opacity: 0.5;
  }
}

// =============================================================================
// EMBED IMAGES WITHIN NODE CONTENT
// =============================================================================

.node-content img,
.node-content .field-image img {
  float: none;
  max-width: 100%;
  margin: 0;
}

// =============================================================================
// VIDEO PLAY BUTTON
// =============================================================================

.video-play {
  background-image: url('@{dd_templates_image_path}/play.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 20%;
  opacity: 0.5;
  .transition(opacity 0.3s ease-out);
}

.field-video .video-lightframe {
  // Contains the parent link container to only be as wide as the image. This
  // prevents the video play button from extending to the full width of the
  // content area it's displayed in.
  display: inline-block;
}

a.video-lightframe:hover .video-play {
  background-color: transparent;
  opacity: 0.9;
}

// Restricts email address from overflowing out of it's container

.node-contact-wrapper {
  width: 100%;
  margin: 1em 0;
}

.node-contact .field-email {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Allow the thumbnail images to display bigger on the manage content page

.admin-content .views-field-field-image-fid img {
  max-width: none;
}

// Force menu admin controls to be layered above positioned elements

.add-term,
.edit-term {
  z-index: 1;
}
