// =============================================================================
// BASE ELEMENTS
// =============================================================================

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  color: @base_text_color;

  &.user-1,
  &.admin-menu {
    margin-top: 0 !important;
    padding-bottom: 0;
  }

  // Set the WYSIWYG editor to display the default font the site is using
  &.node-content {
    font-family: @F1;
  }

  &.search-active {
    overflow: hidden;
  }

  @media (max-width: @mobile-breakpoint) {
    &.menu-active {
      overflow: hidden;
    }
  }
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, button {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

// For IE9+ and other older browsers, which don't support the recently added
// main element yet. See http://www.sitepoint.com/html5-main-element/
main {
  display: block;
}

h1, h2, h3, h4, h5 {
  font-family: @F1;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0.667em;
  margin-bottom: 0.667em;
}

h3 {
  margin-top: 0.769em;
  margin-bottom: 0.769em;
}

h4, h5, h6 {
  margin-top: 0.909em;
  margin-bottom: 0.909em;
}

p, ul, ol, dl, pre, table, address, fieldset, blockquote {
  margin: 1em 0;
}

hr {
  border-width: 1px 0 0;
}

blockquote {
  padding: 0 1.5em;
  border-left: 0.5em solid @C1;
  background: #eee;
  color: #333;
  font-family: @F2;
}

// FONT AND LINE HEIGHT SIZING

h1 {
  font-size: 36px;
  line-height: 1.111;
  color: #555;
}

h2 {
  font-size: 24px;
  line-height: 1.333;
  color: @C2;
}

h3 {
  font-size: 18px;
  line-height: 1.333;
  color: @C3;
}

h4 {
  font-size: 16px;
  line-height: 1.25;
  color: @C4;
}

h5 {
  font-size: 14px;
  line-height: 1.286;
  color: @C5;
}

h6 {
  &:extend(h5);

  font-family: @F2;
  font-weight: normal;
  text-transform: uppercase;
  color: #555;
}

img {
  max-width: 100%;
  height: auto;
}

ul, li {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  color: @C1;
}

a:hover,
a:visited:hover,
a:active,
a.active {
  color: @C2;
}
