
/* ========================================================================== *\
   BASE ELEMENTS
\* ========================================================================== */

html {
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  font-size: 100%;
  background-color: #eee;
  text-rendering: optimizeLegibility;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, button {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

// For IE9+ and other older browsers, which don't support the recently added
// main element yet. See http://www.sitepoint.com/html5-main-element/
main {
  display: block;
}

h1, h2, h3, h4, h5 {
  font-family: @F1;
}

p, ul, ol, dl, pre, table, address, fieldset, blockquote {
  margin: 1em 0;
}

hr {
  border-width: 1px 0 0 0;
}

blockquote {
  padding: 0 1.5em;
  border-left: 0.5em solid @C1;
  background: #eee;
  color: #333;
  font-family: @F2;
}

/* FONT AND LINE HEIGHT SIZING */

h1 {
  font-size: unit(36/@base_font_size, em);
  line-height: 1.111;
}

h2 {
  font-size: unit(24/@base_font_size, em);
  line-height: 1.333;
}

h3 {
  font-size: unit(18/@base_font_size, em);
  line-height: 1.333;
}

h4 {
  font-size: unit(16/@base_font_size, em);
  line-height:  1.25;
}

h5 {
  font-size: unit(14/@base_font_size, em);
  line-height: 1.286;
}

h6 {
  &:extend(h5);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: normal;
  font-family: @F2;
}
