/* ========================================================================== *\
   CHEVRON FONT
\* ========================================================================== */

@font-face {
  font-family: 'chevron';
  src: url("@{dd_templates_font_path}/chevron.eot?mf1qok");
  src: url("@{dd_templates_font_path}/chevron.eot?#iefixmf1qok") format('embedded-opentype'),
       url("@{dd_templates_font_path}/chevron.woff?mf1qok") format('woff'),
       url("@{dd_templates_font_path}/chevron.ttf?mf1qok") format('truetype'),
       url("@{dd_templates_font_path}/chevron.svg?mf1qok#chevron") format('svg');
  font-weight: normal;
  font-style: normal;
}

.chevron-font() {
  font-family: 'chevron';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Left
@chevron-left-light: "\e600";
@chevron-left-normal: "\e601";
@chevron-left-medium: "\e602";
@chevron-left-bold: "\e603";
@chevron-left-bolder: "\e604";
// Right
@chevron-right-light: "\e605";
@chevron-right-normal: "\e606";
@chevron-right-medium: "\e607";
@chevron-right-bold: "\e608";
@chevron-right-bolder: "\e609";
// Up
@chevron-up-light: "\e60a";
@chevron-up-normal: "\e60b";
@chevron-up-medium: "\e60c";
@chevron-up-bold: "\e60d";
@chevron-up-bolder: "\e60e";
// Down
@chevron-down-light: "\e60f";
@chevron-down-normal: "\e610";
@chevron-down-medium: "\e611";
@chevron-down-bold: "\e612";
@chevron-down-bolder: "\e613";

/* ========================================================================== *\
   ATTACHMENTS FONT
\* ========================================================================== */

@font-face {
  font-family: 'attachments';
  src: url("@{dd_templates_font_path}/attachments.eot?mf1qok");
  src: url("@{dd_templates_font_path}/attachments.eot?#iefixmf1qok") format('embedded-opentype'),
       url("@{dd_templates_font_path}/attachments.woff?mf1qok") format('woff'),
       url("@{dd_templates_font_path}/attachments.ttf?mf1qok") format('truetype'),
       url("@{dd_templates_font_path}/attachments.svg?mf1qok#chevron") format('svg');
  font-weight: normal;
  font-style: normal;
}

.attachments-font() {
  font-family: 'attachments';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icons
@attachments-link: "\e600";
@attachments-file-html: "\e601";
@attachments-file-css: "\e602";
@attachments-file-xml: "\e603";
@attachments-file-pdf: "\e604";
@attachments-file-word: "\e605";
@attachments-file-excel: "\e606";
@attachments-file-powerpoint: "\e607";
@attachments-image: "\e608";
@attachments-film: "\e609";
@attachments-music: "\e60a";
@attachments-file-zip: "\e60b";
@attachments-console: "\e60c";
@attachments-speaker: "\e60d";

/* ========================================================================== *\
   SOCIAL SHARE FONT
\* ========================================================================== */

@font-face {
  font-family: 'social-share';
  src: url('@{dd_templates_font_path}/social-share.eot?z1g2f4');
  src: url('@{dd_templates_font_path}/social-share.eot?z1g2f4#iefix') format('embedded-opentype'),
       url('@{dd_templates_font_path}/social-share.woff2?z1g2f4') format('woff2'),
       url('@{dd_templates_font_path}/social-share.ttf?z1g2f4') format('truetype'),
       url('@{dd_templates_font_path}/social-share.woff?z1g2f4') format('woff'),
       url('@{dd_templates_font_path}/social-share.svg?z1g2f4#social-share') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social-share-font() {
  font-family: 'social-share';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@social-share-facebook: "\66";
@social-share-twitter: "\74";
@social-share-linkedin: "\69";
@social-share-googleplus: "\67";
