// =============================================================================
// PHOTO GALLERY
// =============================================================================

.photo-gallery {
  .node-image,
  .node-upper-image,
  .node-content & {
    opacity: 0;
    transition: opacity 0.1s linear;

    &.ready {
      opacity: 1;
    }

    &.slick-dotted {
      margin-bottom: 5rem;
    }
  }

  .node-item .field-image {
    margin: 0;
  }

  .field-image {
    position: relative;
    float: none !important;
    max-width: none !important;
    margin: 0 !important;

    .caption {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 20px;
      color: white;

      @media (min-width: 640px) {
        display: block;
      }
    }

    // Fix FOUC issue with the photo gallery prior to it being built
    &:not(:first-child) {
      position: absolute;
      top: 0;
    }
  }

  // Node Image or Upper Image

  .slick-slider {
    margin-bottom: 1em;
  }

  // Margin the top just as if it were a paragraph

  .node-image {
    margin-top: 1em;
  }

  // Dynamically created container for all the slides

  .slick-track {
    display: block;
    background-color: #17191a;

    &:before,
    &:after {
      display: none;
    }
  }

  // Field Image

  .slick-slide {
    float: none;
    display: inline-block;
    margin: 0;
    background-color: #17191a;

    a {
      display: block;
      width: auto;
      max-width: 100%;
    }

    img {
      margin: 0 auto;
    }
  }

  .slick-initialized,
  &.slick-initialized {
    .slick-slide {
      vertical-align: middle;
    }
  }

  // Gallery Navigation

  .slick-dots {
    bottom: -35px;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      button {
        padding: 5px 3px;

        &:before {
          background-color: #555;
        }
      }

      &.slick-active button:before {
        background-color: #555;
      }
    }
  }

  .slick-arrow {
    opacity: 0;
    transition: opacity 0.2s;

    &:before {
      opacity: 0.5;
    }

    &:hover,
    &:focus {
      &:before {
        opacity: 0.75;
      }
    }
  }

  .slick-slider:hover,
  &.slick-slider:hover {
    .slick-arrow {
      opacity: 1;
    }
  }
}
