// =============================================================================
// LAYOUT
// =============================================================================

.layout {
  margin: 0 20px;

  @media (min-width: 720px) {
    margin: 0 22px;
  }

  @media (min-width: @desktop-breakpoint) {
    max-width: 980px;
    margin: 0 auto;
  }
}
