/* ========================================================================== *\
   LINKS
\* ========================================================================== */

.node-links {
  ul.links {
    &.inline {
      display: block;
    }

    li {
      clear: left;
      margin: 0.5em 0;
    }
  }
}

/* ========================================================================== *\
   DEFAULT NODE LINKS
\* ========================================================================== */

.link {
  display: none;

  a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
  }
}

span.file a {
  padding: 0 !important;
  background-image: none !important;
}
