/* ========================================================================== *\
   META
\* ========================================================================== */

.meta .meta-item {
  border-right-color: @C5;
  font-size: 0.857em; /* 12px */
  line-height:     1; /* 12px */

  a {
    text-decoration: none;
  }
}

.node-upper-meta {
  margin-bottom: 1em;
  border-top: 1px solid #ccc;

  .has-meta & {
    padding-top: 1em;
  }
}
