// =============================================================================
// TABS
// =============================================================================

div.dtabs {
  float: none;
  position: relative;
  z-index: 2;
  margin-bottom: -1px;
  padding: 25px 0 5px;
  background-color: white;
}

div.tab {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-right: -1px;
  margin-bottom: -1px;
  padding: 5px;
  border: 1px solid @C1;
  font-size: @base_font_size;
  line-height: 1;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: @C1;

  &.active {
    background-color: @C1;
    color: white;
  }
}
