// =============================================================================
// THIS ITEM APPEARS IN - LEFT NAVIGATION
// =============================================================================

.appearing-nav {
  display: none;

  &.has-links {
    display: block;
  }

  .block-title {
    &:extend(.sidebar-title);
  }

  #nav-back {
    display: none;
  }

  .small {
    display: none;
  }

  ul.links {
    li {
      margin-left: 0;
      margin-right: 0;
    }

    .first a {
      border-top: none;
    }

    li a {
      margin: 0;
      padding: 5px 0;
      border-top: 1px solid #eee;
      border-bottom: none;
      line-height: 1.2;
      color: @C6;

      &:hover {
        color: @C1;
      }
    }
  }
}
