/* ========================================================================== *\
   DD SOCIAL SHARE THIS PAGE BLOCK
\* ========================================================================== */

.block-dd_social .block-title {
  font-size: 1.286em;     /* 18px */
  line-height: 1.333em;   /* 24px */
  margin-bottom: 0.778em; /* 14px */
  padding-top: 10px;
  border-top: 1px solid @C8;
}

#block-dd_social-share_page ul li {
  margin-right: 3px;
}
