/* ========================================================================== *\
   MAIN NAVIGATION
\* ========================================================================== */

#block-nice_menus-1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  .when-number-of-columns-increases-to(3, {
    border-bottom: none;
  });

  .block-title {
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
    background: url('@{dd_templates_image_path}/menu.svg') center center no-repeat transparent;
    .opacity(0.3);
    .transition(opacity 0.3s ease-out);

    html.no-svg & {
      background-image: url('@{dd_templates_image_path}/menu.png');
    }

    .when-number-of-columns-increases-to(3, {
      display: none;
    });

    &:hover {
      .opacity(1);
    }
  }

  .nice-menu {
    clear: both;
    display: none;

    .when-number-of-columns-increases-to(3, {
      display: block;
      padding-left: @gutter-left-width;
    });
  }

  &.active .nice-menu {
    display: block;
  }
}

ul.nice-menu {
  li {
    position: relative;
    display: block;
  }

  ul,
  ul ul {
    top: inherit;
    left: inherit;
    z-index: inherit;
    display: none;
  }

  a.menu-link {
    display: block;
    position: relative;
    padding: 10px;
    border-top: 1px solid #eee;
    background-color: transparent;
    color: @C2;
    .transition(background-color 0.3s ease-out);

    &:hover {
      background-color: @C1;
      color: white;
    }
  }

  a.menu-link.active {
    background-color: darken(@C1, 10%);
    color: white;
  }

  // dmodel.css override

  .first a.menu-link.depth-1 {
    padding-left: 10px;
  }
}

// Full Navigation Menu

.when-number-of-columns-increases-to(3, {
  ul.nice-menu {

    // Lists

    ul {
      position: absolute;
      top: 38px;
      left: 0;
    }

    ul ul {
      top: 0;
      left: 240px;
      border-left: 1px solid lighten(@C2, 10%);
    }

    ul.depth-3 {
      display: none;
    }

    li:hover > ul {
      display: block;
    }

    // Items

    li {
      width: 240px;
    }

    li.depth-1 {
      float: left;
      width: auto;
    }

    // Links

    a.menu-link {
      border-top: 1px solid lighten(@C2, 10%);
      background-color: @C2;
      color: white;
      .transition(background-color 0.3s ease-out);
    }

    a.menu-link.active,
    li.active-trail > a.menu-link {
      background-color: darken(@C1, 10%);
      color: white;
    }

    li:hover > a,
    a.menu-link:hover {
      background-color: @C1;
      color: white;
    }

    li a.menu-link.depth-1 {
      margin: 10px 0;
      padding: 0 10px;
      border-top: none;
      border-left: 1px solid #eee;
      background-color: transparent;
      color: @C2;

      &:hover {
        color: @C1;
      }
    }

    .first a.menu-link.depth-1 {
      padding-left: 0;
      border-left: none;
    }
  }
});
