/* ========================================================================== *\
   OVERVIEW
\* ========================================================================== */

.overview {
  .node-upper-meta {
    display: none;
  }

  .has-meta .node-upper-meta  {
    display: block;
  }

  .node-header a {
    cursor: default;
  }

  .caption {
    display: block;
  }
}
