// =============================================================================
// PODS
// =============================================================================

.pods {
  margin-bottom: 40px;

  .views-row {
    margin-bottom: 20px;
  }

  .views-row-odd {
    background-color: @C1;
    .transition(background-color 0.3s ease-out);

    &:hover {
      background-color: lighten(@C1, 7%);
    }
  }

  .views-row-even {
    background-color: @C2;
    .transition(background-color 0.3s ease-out);

    &:hover {
      background-color: lighten(@C2, 7%);
    }
  }

  .node {
    margin-bottom: 0;
  }

  .node-inner {
    padding: 15px;
  }

  .node-item {
    display: none;
  }

  .node-upper-image,
  .node-header,
  .node-links,
  .node-webform {
    display: block;
  }

  .node-upper-image {
    margin: -15px -15px 0 -15px;
  }

  .field-image {
    margin-bottom: 15px;
  }

  .node-header {
    font-size:   18px;
    line-height: 24px;

    .title {
      color: white;
      font-weight: bold;
    }

    .subtitle {
      font-size: 15px;
      font-weight: normal;
      color: white;
    }
  }

  .link a {
    color: white;
  }

  .link a:hover {
    color: black;
  }

  .node-links {
    .link-read-more {
      display: none;
    }
  }

  .node-webform {
    label {
      color: #333;
    }
  }

  // Unpublished pods

  .node-unpublished {
    border: 5px solid #faa;
    background-color: transparent;
  }
}

// =============================================================================
// PODS RIGHT
// =============================================================================

.pods-right {
  .node {
    padding-bottom: 0;
  }

  .node-header {
    font-size:   16px;
    line-height: 21px;

    .subtitle {
      font-size: 14px;
    }
  }
}

@media (min-width: 540px) and (max-width: 719px) {
  .pods-right {
    .view-content {
      margin-left: -3%;
      font-size: 0;
      .flexbox();
      .flex-flow(wrap row);
      .justify-content(center);
    }

    .views-row {
      display: inline-block;
      width: 47%;
      margin-left: 3%;
      vertical-align: top;
      font-size: @base_font_size;
    }
  }
}

// =============================================================================
// PODS BELOW
// =============================================================================

@media (min-width: 540px) {
  .pods-below {
    .view-content {
      margin-left: -3%;
      font-size: 0;
      .flexbox();
      .flex-flow(wrap row);
      .justify-content(center);
    }

    .views-row {
      display: inline-block;
      width: 47%;
      margin-left: 3%;
      vertical-align: top;
      font-size: @base_font_size;
    }
  }
}

@media (min-width: 720px) {
  .pods-below {
    .view-content {
      margin-left: -10%/3;
    }

    .views-row {
      width: 30%;
      margin-left: 10%/3;
    }
  }
}
