/* ========================================================================== *\
   PODS
\* ========================================================================== */

.pods {
  margin-bottom: 40px;

  .views-row {
    margin-bottom: 20px;
  }

  .views-row-odd {
    background-color: @C1;
    .transition(background-color 0.3s ease-out);

    &:hover {
      background-color: lighten(@C1, 7%);
    }
  }

  .views-row-even {
    background-color: @C2;
    .transition(background-color 0.3s ease-out);

    &:hover {
      background-color: lighten(@C2, 7%);
    }
  }

  .node {
    margin-bottom: 0;
  }

  .node-inner {
    padding: 15px;
  }

  .node-item {
    display: none;
  }

  .node-upper-image,
  .node-header,
  .node-links,
  .node-webform {
    display: block;
  }

  .node-upper-image {
    margin: -15px -15px 0 -15px;
  }

  .field-image {
    margin-bottom: 15px;
  }

  .node-header {
    font-size: 1.286em; /* 18px */
    line-height: 1.333; /* 24px */

    .title {
      color: #fff;
      font-weight: bold;
    }

    .subtitle {
      font-size: 0.833em; /* 15px */
      font-weight: normal;
      color: #fff;
    }
  }

  .link a {
    color: white;
  }

  .link a:hover {
    color: black;
  }

  .node-links {
    .link-read-more {
      display: none;
    }
  }

  .node-webform {
    label {
      color: #333;
    }
  }

  // Unpublished pods

  .node-unpublished {
    border: 5px solid #faa;
    background-color: transparent;
  }
}

/* ========================================================================== *\
   PODS RIGHT
\* ========================================================================== */

.pods-right {
  .node {
    padding-bottom: 0;
  }

  .node-header {
    font-size: 1.143em; /* 16px */
    line-height: 1.313; /* 21px */

    .subtitle {
      font-size: 0.875em; /* 14px */
    }
  }
}

/* ========================================================================== *\
   PODS
\* ========================================================================== */

.when-number-of-columns-increases-to(2, {
  .pods {
    .view-content {
      margin-left: -10%/3;
      font-size: 0;
      // Flex options
      .flexbox(); // sets the display to flex
      .flex-flow(wrap row); // sets the orientation to a row and has the items wrap accordingly
      .justify-content(center); // centers the content within the block
    }

    .views-row {
      display: inline-block;
      width: 30%;
      margin-left: 10%/3;
      vertical-align: top;
      font-size: @base_font_size;
    }
  }

  .pods-right {
    margin-bottom: 0;
  }
});

.when-number-of-columns-increases-to(3, {
  .pods-right {
    .view-content {
      display: inherit;
      margin-left: inherit;
      font-size: inherit;
    }

    .views-row {
      display: block;
      width: 100%;
      margin-left: inherit;
    }
  }
});
