/* ========================================================================== *\
   PODS
\* ========================================================================== */

.pods {
  margin-bottom: 40px;

  .views-row-odd {
    .node {
      background-color: @C1;
      .transition(background-color 0.3s ease-out);

      &:hover {
        background-color: lighten(@C1, 7%);
      }
    }
  }

  .views-row-even {
    .node {
      background-color: @C2;
      .transition(background-color 0.3s ease-out);

      &:hover {
        background-color: lighten(@C2, 7%);
      }
    }
  }

  .node {
    margin-bottom: 20px;
  }

  .node-inner {
    padding: 15px;
  }

  .node-item {
    display: none;
  }

  .node-upper-image,
  .node-header,
  .node-links,
  .node-webform {
    display: block;
  }

  .node-upper-image {
    margin: -15px -15px 0 -15px;
  }

  .field-image {
    margin-bottom: 15px;
  }

  .node-header {
    font-size: 1.286em; /* 18px */
    line-height: 1.333; /* 24px */

    .title {
      color: #fff;
      font-weight: bold;
    }

    .subtitle {
      font-size: 0.833em; /* 15px */
      font-weight: normal;
      color: #fff;
    }
  }

  .link a {
    color: white;
  }

  .link a:hover {
    color: black;
  }

  .node-links {
    .link-read-more {
      display: none;
    }
  }

  .node-webform {
    label {
      color: #333;
    }
  }
}

/* ========================================================================== *\
   PODS RIGHT
\* ========================================================================== */

.pods-right {
  .node {
    padding-bottom: 0;
  }

  .node-header {
    font-size: 1.143em; /* 16px */
    line-height: 1.313; /* 21px */

    .subtitle {
      font-size: 0.875em; /* 14px */
    }
  }
}

/* ========================================================================== *\
   PODS
\* ========================================================================== */

.when-number-of-columns-increases-to(2, {
  .pods {
    .view-content {
      margin-left: -30px;
      font-size: 0;
      // Flex options
      .flexbox(); // sets the display to flex
    }

    .views-row {
      display: inline-block;
      width: 100%/3;
      max-width: 50%; // prevents a single pod from taking up the entire width
      padding-left: 30px;
      .box-sizing(border-box);
      vertical-align: top;
      font-size: @base_font_size;
      // Flex options
      .flexbox(); // sets the display to flex
      .flex(1);   // sets the proper width for the items
    }
  }

  .pods-right {
    margin-bottom: 0;
  }
});

.when-number-of-columns-increases-to(3, {
  .pods-right {
    .view-content {
      display: inherit;
      margin-left: inherit;
      font-size: inherit;
    }

    .views-row {
      display: block;
      width: 100%;
      max-width: inherit;
      padding-left: inherit;
      .flex(none);
    }
  }
});
