/* ========================================================================== *\
   TERM NAVIGATION
\* ========================================================================== */

.term-nav {
  margin-left: 0;

  ul,
  li {
    overflow: visible;
  }

  .menu-block-2 > ul {
    margin-left: 18px;

    .when-number-of-columns-increases-to(3, {
      margin-left: 0;
    });
  }

  ul ul a       { margin-left: 18px; }
  ul ul ul a    { margin-left: 36px; }
  ul ul ul ul a { margin-left: 54px; }

  .block-title {
    font-size: 1em;
  }

  .block-title a,
  .block-title a.depth-2,
  .block-title a.depth-3 {
    padding: 0 0 5px;
    border-bottom: 1px solid #eee;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: normal;
    color: @C6;
  }

  .block-title a:hover,
  .block-title a.depth-2:hover,
  .block-title a.depth-3:hover {
    color: @C1;
  }

  .block-title a.active {
    color: @C2;
    font-weight: bold;
  }

  .menu a {
    position: relative;
    padding: 5px 0;
    border-bottom: 1px solid @C9;
    line-height: 1.214em;
    color: @C6;
  }

  .menu a:hover {
    color: @C1;
  }

  .menu a.active {
    color: @C2;
    font-weight: bold;
  }

  .menu .collapsed > a:before,
  .menu .expanded > a:before {
    .chevron-font();
    position: absolute;
    top: 50%;
    left: -24px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    margin-top: -12px;
    color: @C1;
  }

  .menu .collapsed > a:before {
    content: @chevron-right-light;
  }

  .menu .expanded > a:before {
    content: @chevron-down-light;
  }
}
